* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --bg-color-b: black;
  --bg-color-w: white;

  --bg-color-two: #065E7C;
  --bg-color-three: #092D38;
  --bg-color-selected: #043444;

  --login-color: #E1E1E6 ;
  --fc-remove: #F75A68;
  --ff-primary: 'Roboto', sans-serif;

  --responsive-font-size-2: clamp(.3rem, .3rem + 2vw, 2rem);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border-width: 0;
  white-space: nowrap;
}

body {
  background: var(--bg-color-b);
  color: var(--bg-color-w);
}

body, input, button {
  font-family: var(--ff-primary);
}

#app header {
 display: flex;
 align-items: center;
 justify-content: space-between;
 max-width: 102rem;
 margin: 12rem auto;
}

.Search{
  display: flex;
  gap: 2.4rem;
  align-items: center;
}

.Search input {
  color: #7C7C8A;
  border: transparent;
  background: transparent;
  width: clamp(10rem, 27rem + 10vw, 43rem) ;
  padding: 2rem;

  /*Remove a border do input*/
  outline: 0;
}

.SearchAdd {
  display: flex;
  background: var(--bg-color-two);
  align-items: center;
  padding: 1.2rem 3.2rem;
  gap: .8rem;
  border-radius: .5rem;

  width: 17.0rem;
  height: 4.8rem;
}

.SearchAdd button{
  background: none;
  border: none;
  
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--bg-color-w);
}

.SearchAdd:hover,
.SearchAdd:hover button,
.SearchAdd:hover svg path{
  color: var(--bg-color-two);
  background: var(--bg-color-w);
  fill: var(--bg-color-two);

  cursor: pointer;
}

table {
  width: 100%;
  font-weight: 700;
  font-size: var(--responsive-font-size-2);
  text-align: left;
  border: none;
}

table thead th{
  background-color: var(--bg-color-three);
  font-weight: bold;
  font-size: var(--responsive-font-size-2);
  height: 6.4rem;
  position: sticky;
  top: 0;
}

/*Ajuste espaço do texto*/
table thead tr th {
  padding: 1.6rem 4rem;
}

/*ajuste espaço colunas*/
table tbody tr td {
  padding: 2.4rem 4rem;
}

.controlTable {
  /* width: clamp(55rem, 38rem + 45vw, 112rem); */
  width: clamp(50rem, 31rem + 47vw, 112rem);
  height: 39.5rem;
  margin: 2rem auto;

  overflow-y:overlay;

  border: 1px solid var(--bg-color-two);
  border-radius: 1.2rem;
}

.controlTable table {
  border-collapse: collapse;
  border-radius: 1.2rem;
}

/*Scroll bar Css*/
.controlTable::-webkit-scrollbar {
  width: 2.1rem;
}

.controlTable::-webkit-scrollbar-track{
  margin: 2rem 0;
}

.controlTable::-webkit-scrollbar-thumb {
  background-color: #4A808C;
  border-radius: 1rem;
  border: solid 7px transparent;
  background-clip: padding-box;
}

table thead tr th:first-child {
  border-top-left-radius: 1.2rem;
}

table thead tr th:last-child {
  border-top-right-radius: 1.2rem;
}

/*Line colors*/
table tbody tr:nth-child(even) {
  border-top: 0.1rem solid var(--bg-color-two);
  border-bottom: 0.03rem solid var(--bg-color-three);
}

tbody tr,
td p {
  font-weight: bold;
  font-size: var(--responsive-font-size-2);
  line-height: 3.2rem;
  color:  var(--bg-color-w);
}

.user {
  display: flex;
  padding:  2.4rem 4rem;
  gap: 1.6rem;
}

.user img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.user a {
  text-decoration: none;
  color: var(--login-color);
  font-size: var(--responsive-font-size-2);
  font-weight: normal;

}

.remove {
  color: var(--fc-remove);
  cursor: pointer;
}

.remove:hover{
  color: #d93b48;
}

.emptyTable div {
  width: 100%;
  margin-top: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  text-align: center;
}

.emptyTable div p {
  font-size: 2rem;
}

.emptyTable div img {
  width: 100px;
}


/*Coisas que devo alterar para melhorar a responsividade*/
@media (max-width: 1070px){
  #app header {
    padding: 5rem;
  }
}

@media (max-width: 1025px){
  #app header {
    padding: 5rem;
  }

  .controlTable table tbody tr td{
    width: 22rem;
  }

  .user img {
    width: 54px;
    height: 54px;
  }
}

@media (max-width: 800px){
  header {
    flex-direction: column;
    gap: 3rem;
  }

  .Search {
    margin: 0 auto;
    gap: 0;
  }
  
  .controlTable{
    border: 2px solid var(--bg-color-two);
    margin-left: 1.5rem;
  }

  table thead tr th {
    padding: 1rem 2rem;
  }

  table tbody tr td {
    padding: 1rem 2rem;
  }
}